Package: com.ps.quadhighcurrent-rootless
Name: QuadHighCurrent
Depends: mobilesubstrate, firmware (>= 14.0), gsc.camera-flash
Version: 1.0.0
Architecture: iphoneos-arm
Description: Utilize "high current" for Quad-LEDs devices.
Author: PoomSmart
Maintainer: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/quadhighcurrent.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/quadhighcurrent.json
